.banner-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  top: -80px;
  .banner {
    background-image: url('/image/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    z-index: -999999;
    top: 0;
  }
  .bannerLg {
    background-image: url('/image/loginBg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    z-index: -999999;
    top: 0;
  }
  .bannerSignup {
    background-image: url('/image/signupBg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    z-index: -999999;
    top: 0;
  }
  .banner-checkout {
    background-image: url('/image/checkout.jpeg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    height: 500px;
    width: 100%;
    z-index: -999999;
    top: 0;
  }
  .banner-quick-action {
    position: relative;
    border: 6px solid black;
    padding: 5em 0px;
    text-align: center;
    width: auto;
    right: 30px;
  }
  .banner-quick-action-login {
    position: relative;
    border: 6px solid black;
    padding: 5em 0px;
    text-align: center;
    width: auto;
    right: 30px;
    top: 20px;
    z-index: 999999;
    padding: 2em;
    // width: 800px
  }
  .banner-quick-action-signup {
    position: relative;
    border: 6px solid black;
    padding: 5em 0px;
    text-align: center;
    width: auto;
    right: 30px;
    top: 20px;
    z-index: 999999;
    padding: 2em;
    // width: 800px
  }
  .banner-checkout-desc {
    position: relative;
    clip-path: polygon(0 0, 100% 27%, 100% 71%, 0% 100%);
    background-color: #307a7e;
    color: white;
    padding: 6em 2em;
    text-align: center;
    width: auto;
    right: 30px;
  }
}

@media screen and (max-width: 640px) {
  .banner-wrapper {
    flex-direction: column;
    .banner {
      background-image: linear-gradient(
          to left top,
          #0009 80%,
          rgba(61, 21, 90, 0.709804)
        ),
        url('/image/banner.jpg');
    }
    .banner-quick-action {
      right: 0;
      top: -450px;
    }
  }
}
